nav.navbar.nav-default(role='navigation')
  div.navbar-header
    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
  div.collapse.navbar-collapse.navbar-responsive-collapse
    ul.nav.navbar-nav
      li: a(href='/') The Derby
      li: a(href='/gamblers') Gambler Roster
      li: a(href='/gamblers/new') New Gambler
