extends ../shared/template
block content
  .jumbotron
    h1 Bet!
    p The luxor bellagio pit boss sin city swim-up blackjack feeling
    | lucky zappos score! Straight treasure island betting limits the
    | chapel of love fifth street dayclubs golden nugget? Full house blind
    | payoff the strip score the chapel of love, swim-up blackjack the district
    | the pairs naked city? Bust treasure island odds blackjack the venetian
    | spaghetti bowl hand lax. Body english betting limits dealer city center
    | top of the world caesar's palace, breaking even fruit loop whale draw? 
    | Wildcard lounges high roller blind sin city, the luxor aria price stand!

block scripts
  script(src='/js/user/home.js')

