extends ../shared/template
block content

  h2 Add Assets
    form(method='post', action='/gamblers/#{id}/assets/new')
    input(name='name', type='text', placeholder='stereo')
    input(name='photo', type='text', placehoder='Photo URL')
    input(name='value', type='number', placeholder=1000)
    button Add Asset

block scripts
  script(src='/js/user/gambler.js')

